{% extends "base.html" %}
<head>
<style>

</style>
</head>
{% block content %}


<p> Add Quiz</p>
  <form action="/add-quiz/" method="post">{% csrf_token %}
		<table>
		<tr>
			<td>Course ID</td>
			<td><input type="text" name="courseId"/></td>
		</tr>
		<tr>
			<td>Question</td>
			<td><input type="text" name="question"/></td>
		</tr>
		<tr>
			<td>Options</td>
			<td><input type="text" name="opt1"/></td>
			<td><input type="text" name="opt2"/></td>
			<td><input type="text" name="opt3"/></td>
		</tr>
		<tr>
			<td>Answers</td>
			<td><input type="text" name="a1"/></td>
		</tr>
		<tr>
			<td>Points</td>
			<td><input type="text" name="p1"/></td>
		</tr>
		</table>
		<div style="color:green">
		<br>{{success}}<br>
		</div>
		<div style="color:red">
		{% for k in errors %}
		<br>{{k}}<br>
		{% endfor %}</div>
        <input type="submit" value="add">
    </form>
{% endblock %}
