{% extends "base.html" %}

{% block content %}
    {% for k,v in courses.items %}

	      {% if k == "id" %}
            	<p>Course id : {{ v }}</p>
        	{% endif %} 
	      {% if k == "category" %}
            	<p>category : {{ v }}</p>
        	{% endif %}
	      {% if k == "title" %}
            	<p>title : {{ v }}</p>
        	{% endif %}
             {% if k == "section" %}
            	<p>section : {{ v }}</p>
        	{% endif %}
	     {% if k == "dept" %}
            	<p>dept : {{ v }}</p>
        	{% endif %}
	     {% if k == "term" %}
            	<p>term : {{ v }}</p>
        	{% endif %}
	     {% if k == "instructor" %}
            	<p>instructor : {{ v }}</p>
        	{% endif %}
 	     {% if k == "days" %}
            	<p>days : {{ v }}</p>
        	{% endif %}
	     {% if k == "hours" %}
            	<p>hours : {{ v }}</p>
        	{% endif %}
	     {% if k == "Description" %}
            	<p>Description : {{ v }}</p>
        	{% endif %}
	     {% if k == "version" %}
            	<p>version : {{ v }}</p>
        	{% endif %}
	     </p>
	    
      
    {% endfor %}
{% endblock %}


	    
