{% extends "base.html" %}

{% block content %}
<table class="table table-bordered">
    <th>Course Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Term and Year</th>
    <th>Sections</th>
    <th>Days</th>
    <th>Time</th>
    <th>Department</th>
    <th>Instructor</th>
 {% for course in courses %}
<tr>
    <td>{{course.id}}</td>
    <td>{{course.title}}</td>
    <td>{{course.Description}}</td>
    <td>{{course.category}}</td>
    <td>{{course.term}}{{course.year}}</td>
    <td>{{course.section}}</td>
    <td>{% for day in course.days %}
        {{day}} 
        {% endfor %}
    </td>
    <td>{% for hour in course.hours %}
        {{hour}} 
        {% endfor %}
    </td>
    <td>{{course.dept}}</td>
    <td>{% for instructor in course.instructor %}
        {{instructor.name}}</br>
        {% endfor %}
    </td>
</tr>
{% endfor %}
</table>



{% endblock %}



