{% extends "base.html" %}

{% block content %}


<p> Delete Announcement</p>

<form action="/delete-announce/" method="POST">{% csrf_token %}
<table>
<tr>
<td>Announcement Id </td>
<td><select name = "id" >           
            {% for a in result %}
                    {% for k,v in a.items %}
             {% if k == "id" %}
               
             <option>{{ v }}</option>
                 {% endif %}
              {% endfor %}
            {% endfor %}
	</select> </td>
</tr>
<tr>

</tr>
</table>
<input type="submit" value="Delete"></td>
<div style="color:red">{{errors}}</div>

<div style="color:green">{{success}}</div>
</form>

{% endblock %}