{% extends "base.html" %}

{% block content %}


<p> Delete Announcement</p>

<form action="/delete-announce/" method="POST">{% csrf_token %}
<table>
<tr>
<td>Announcement Id </td>
<td><select name = "announceid" >           
            {% for a in result %}
                                   
             <option>{{ a.id }}</option>
                
            {% endfor %}
	</select> </td>
</tr>
<tr>

</tr>
</table>
<input type="submit" value="Delete"></td>


<div style="color:green">{{success}}</div>
</form>
{{ errors }}
<div style="color:red">{{errors}}</div>
{% endblock %}