{% extends "base.html" %}

{% block content %}


<p> Delete Course </p>

<form action="/delete-course/" method="POST">{% csrf_token %}
<table>
<tr>
<td>Course Id </td>
    <td><select name = "courseid" >           
            {% for a in result %}
                    {% for k,v in a.items %}
             {% if k == "id" %}
               
             <option>{{ v }}</option>
                 {% endif %}
              {% endfor %}
            {% endfor %}
	</select> </td>


</tr>
<tr>
<td>
<input type="submit" value="Delete"></td>
</tr>
</table>
<div style="color:red">{{errors}}</div>
<div style="color:green">{{success}}</div>
 </form>

{% endblock %}
