{% extends "base.html" %}
{% block content %}
{{errors}}
<div class="row">
	<div class="span6">
		<div class="well well-large">
			<h3>All Category</h3>
			<!--<p><a href="add-category/"> Add Category </a></p>
			<p><a href="search-category/"> Search courses by category </a></p>
			<p><a href="all-category/"> List All</a></p>-->
			<form name="changecategory" action="/searchcategory/" method="POST">
				<select name="category">
					{% for c in category%}
					<option value={{c.name}}>{{c.description}}</option>
					{% endfor %}
				</select>
				<input type="submit" class="btn"></input>
			</form>
		</div>
	</div>
	<div class="span6">
		<div class="well well-large">
			<h3>All Course</h3>
			<!--<p><a href="search-form/"> Search Course </a></p>
			<p><a href="add-course/"> Add Course </a></p>
			<p><a href="update-course/"> Update Course </a></p>
			<p><a href="delete-course/"> Delete Course </a></p>-->
			<ul>
				{% for course in courses%}
				<li><a href="/search/?id={{course.Description}}">{{course.Description}}</a> - <a href="/enroll_course/?id={{course.id}}" >Enroll</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="well well-large">
			<h3>My Enrolled Courses</h3>
			
			<ul>
				{% for course in enrolledcourses %}
				{% for enrolled in course.enrolled %}
				<li>{{ enrolled }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="span6">
		<div class="well well-large">
			<h3>My Owned Courses</h3>
			<ul>
				{% for course in own %}
				{% for enrolled in course.own %}
				<li>{{ enrolled }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}