{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="span6">
		<div class="well well-large">
			<h3>All Category</h3>
			<!--<p><a href="add-category/"> Add Category </a></p>
			<p><a href="search-category/"> Search courses by category </a></p>
			<p><a href="all-category/"> List All</a></p>-->
			<select>
				{% for c in category%}
				<option value={{c.id}}>{{c.description}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="span6">
		<div class="well well-large">
			<h3>All Course</h3>
			<!--<p><a href="search-form/"> Search Course </a></p>
			<p><a href="add-course/"> Add Course </a></p>
			<p><a href="update-course/"> Update Course </a></p>
			<p><a href="delete-course/"> Delete Course </a></p>-->
				{% for course in courses%}
				<a href="/enroll_course/?id={{course.id}}">{{course.Description}}</a>
				{% endfor %}
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="well well-large">
			<h3>My Enrolled Courses</h3>
			<!--<P> Announcement </p>
				<p><a href="add-announce/"> Add Announcement </a></p>
				<p><a href="update-announce/"> Update Announcement </a></p>
				<p><a href="delete-announce/"> Delete Announcement </a></p>
				<p><a href="all-announce/"> List All</a></p>

				<P> Discussion </p>
					<p><a href="add-discuss/"> Add Discussion </a></p>
					<p><a href="delete-discuss/"> Delete Discussion </a></p>
					<p><a href="discussion_list/"> Discussion List</a></p>

					<P> Quiz </p>
						<p><a href="delete-quiz/"> Delete Quiz </a></p>
						<p><a href="search_quiz/"> Search Quiz </a></p>
						<p><a href="add-quiz/"> Add Quiz </a></p>
						<p><a href="update-quiz/"> Update Quiz </a></p>-->
					</div>
				</div>
				<div class="span6">
					<div class="well well-large">
						<h3>My Owned Courses</h3>
					</div>
				</div>
			</div>
			{% endblock %}