{% extends "base.html" %}


{% block content %}
<P> Course </p>
<p><a href="search-form/"> Search Course </a></p>
<p><a href="add-course/"> Add Course </a></p>
<p><a href="update-course/"> Update Course </a></p>
<p><a href="delete-course/"> Delete Course </a></p>

<P> Announcement </p>
<p><a href="search-announce/"> Search Announcement by id </a></p>
<p><a href="add-announce/"> Add Announcement </a></p>
<p><a href="update-announce/"> Update Announcement </a></p>
<p><a href="delete-announce/"> Delete Announcement </a></p>
<p><a href="all-announce/"> List All</a></p>

<P> Discussion </p>
<p><a href="add-discuss/"> Add Discussion </a></p>
<p><a href="delete-discuss/"> Delete Discussion </a></p>
<p><a href="discussion_list/"> Discussion List</a></p>

<P> Category </p>
<p><a href="add-category/"> Add Category </a></p>
<p><a href="search-category/"> Search courses by category </a></p>
<p><a href="all-category/"> List All</a></p>

<P> Quiz </p>
<p><a href="delete-quiz/"> Delete Quiz </a></p>
<p><a href="search_quiz/"> Search Quiz </a></p>
<p><a href="add-quiz/"> Add Quiz </a></p>
<p><a href="update-quiz/"> Update Quiz </a></p>
{% endblock %}