{% extends "base.html" %}
<head>

<script>  
function showme(){  
var s = document.form1.field;  
var h = document.form1.ufield;  
h.style.visibility="visible";  
 
}  
</script>  


</head>
{% block content %}


<p> update Announcement </p>

<form action="/update-announce/" method="GET">{% csrf_token %}
<table>
<tr>
<td>Announcement ID: </td>
<td><select name = "announceid" >           
            {% for a in result %}
                    {% for k,v in a.items %}
             {% if k == "id" %}
               
             <option>{{ v }}</option>
                 {% endif %}
              {% endfor %}
            {% endfor %}
	</select> </td>
</tr>
<tr>
</tr>
<tr>
<td> Select update by category </td>
<td><select name="field">
    <option value="title">Title</option>
    <option value="courseId">CourseId</option>
    <option value="description">Description</option>
    <option value="postDate">postDate</option>
    <option value="status">status</option>
    <option value="all">All</option>
   </select> </td>
</tr>
<tr>
<td>Value</td>
<td><input type ="text" name="ufield"></td>
<td>
To update 'All' fields type all in Value</td>
</tr>
<tr>
<td>
<input type="submit" value="Update"></td>
</tr>
</table>
<div style="color:red">{{errors}}</div>
<div style="color:green">{{values}}</div>
 </form>

{% endblock %}